@{
    ViewData["Title"] = "Admin Paneli";
}

<div class="container">
    <h2>Admin Paneli</h2>
    <ul>
        <li><a href="@Url.Action("ManageEmployees", "Admin")">Çalışanları Yönet</a></li>
        <li><a href="@Url.Action("ManageAppointments", "Admin")">Randevuları Yönet</a></li>
    </ul>
</div>
